# ── MongoDB ──────────────────────────────
MONGO_USER=admin
MONGO_PASSWORD=admin
MONGO_DB=arcadiax

# ── Redis ────────────────────────────────
REDIS_URL=redis://redis:6379

# ── Backend ──────────────────────────────
# URI que usa FastAPI (sobreescrita en docker-compose para apuntar al contenedor)
MONGO_URI=mongodb://admin:admin@mongo:27017/arcadiax?authSource=admin

# Ruta host donde están las películas originales
FILMS_PATH=C:/ruta/a/tus/peliculas

# Ruta host donde están las ROMs de RetroBat (para el script de sync)
RETROBAT_ROMS_PATH=C:/RetroBat/roms

# ── Frontend ─────────────────────────────
VITE_API_URL=http://localhost:8000
